<?xml version="1.0"?>
<robot name="myzharbot_robot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF/XACRO Files -->
  <xacro:include filename="$(find myzharbot_robot_ros)/urdf/materials.urdf" />
  <xacro:include filename="$(find myzharbot_robot_ros)/urdf/passive_sprocket.urdf.xacro" />
  <xacro:include filename="$(find myzharbot_robot_ros)/urdf/active_sprocket.urdf.xacro" />
  <xacro:include filename="$(find myzharbot_robot_ros)/urdf/sensors/asus_xtion_pro.urdf.xacro"/>
  <!-- Included URDF/XACRO Files -->

  <!-- Global properties -->
  <property name="M_PI" value="3.14159"/>
  <!-- Global properties -->
  
  <!-- Sprockets params -->
  <property name="active_sprocket_radius" value="0.034925"/>
  <property name="passive_sprocket_radius" value="0.047625"/>
  <property name="active_sprocket_leght" value="0.034925"/>
  <property name="passive_sprocket_leght" value="0.047625"/>
  <property name="passive_sprocket_offset_x" value="0.135"/>
  <property name="passive_sprocket_offset_y" value="0.170"/>
  <property name="passive_sprocket_offset_z" value="0.047625"/>
  <property name="active_sprocket_offset_x" value="0.055"/>
  <property name="active_sprocket_offset_y" value="0.150"/>
  <property name="active_sprocket_offset_z" value="0.150"/>
  <!-- Sprockets params -->

  <!-- base_link -->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length=".01" radius="0.1"/>
      </geometry>
      <material name="Red" />
    </visual>
  </link>
  <!-- base_link -->

  <!-- Body chassis -->
  <link name="body_chassis_link">
    <visual>
      <geometry>
        <box size="0.27 0.27 .055"/>
      </geometry>
      <material name="Black" />
    </visual>
  </link>
  <joint name="Body" type="fixed">
    <axis xyz="0 0 1"/>
    <parent link="base_link"/>
    <child link="body_chassis_link"/>
    <origin rpy="0 0 0" xyz="0 0 0.0775"/>
    <joint_properties damping="0.0" friction="0.0"/>
  </joint>  
  <!-- Body chassis --> 

  <!-- Asus Xtion Pro Live --> 
  <property name="cam_px" value="-0.085" />
  <property name="cam_py" value="-0.022" />
  <property name="cam_pz" value="0.18" />
  <property name="cam_or" value="0" />
  <property name="cam_op" value="0" />
  <property name="cam_oy" value="${M_PI}" />
  <xacro:sensor_asus_xtion_pro parent="base_link"/>
  <!-- Asus Xtion Pro Live --> 

  <!-- Active Sprockets -->
  <xacro:myzharbot_active_sprocket position="Left">
    <origin xyz="${active_sprocket_offset_x} ${active_sprocket_offset_y} ${active_sprocket_offset_z}" rpy="${-M_PI/2} 0 0" />
  </xacro:myzharbot_active_sprocket>
  <xacro:myzharbot_active_sprocket position="Right">
    <origin xyz="${active_sprocket_offset_x} ${-active_sprocket_offset_y} ${active_sprocket_offset_z}" rpy="${-M_PI/2} 0 0" />
  </xacro:myzharbot_active_sprocket>
  <!-- Active Sprockets -->  
    
  <!-- Passive Sprockets -->
  <xacro:myzharbot_passive_sprocket sprocket_suffix="bfl" position="Left">
    <origin xyz="${passive_sprocket_offset_x} ${passive_sprocket_offset_y} ${passive_sprocket_offset_z}" rpy="${-M_PI/2} 0 0" />
  </xacro:myzharbot_passive_sprocket>
  <xacro:myzharbot_passive_sprocket sprocket_suffix="brl" position="Left">
    <origin xyz="${-passive_sprocket_offset_x} ${passive_sprocket_offset_y} ${passive_sprocket_offset_z}" rpy="${-M_PI/2} 0 0" />
  </xacro:myzharbot_passive_sprocket>
  <xacro:myzharbot_passive_sprocket sprocket_suffix="bfr" position="Right">
    <origin xyz="${passive_sprocket_offset_x} ${-passive_sprocket_offset_y} ${passive_sprocket_offset_z}" rpy="${-M_PI/2} 0 0" />
  </xacro:myzharbot_passive_sprocket>
  <xacro:myzharbot_passive_sprocket sprocket_suffix="brr" position="Right">
    <origin xyz="${-passive_sprocket_offset_x} ${-passive_sprocket_offset_y} ${passive_sprocket_offset_z}" rpy="${-M_PI/2} 0 0" />
  </xacro:myzharbot_passive_sprocket>
  <!-- Passive Sprockets -->
  

</robot>
