<launch>
    <arg name="name_host" default="localhost" />
    <!-- <env name="ROS_MASTER_URI" value="http://ubuntu.local:11311" /> -->

    <rosparam command="load" file="$(find myzharbot_robot_ros)/explorer.yaml" ns="robot" />
    <param name="robot_description" textfile="$(find myzharbot_robot_ros)/myzharbot_robot.urdf" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node pkg="rqt_rviz" type="rqt_rviz" name="rqt_rviz" args="-d $(find myzharbot_robot_ros)/myzharbot_robot.rviz"/>
</launch>
