<launch>
  <param name="/info/robot_name" value="myzharbot" />

  <include file="$(find ros_myzharbot_robot)/launch/include/myzharbot_description.launch" />
  <include file="$(find ros_myzharbot_robot)/launch/include/rgbd.launch" />

  <!-- LOAD bridge robot -->
  <group ns="myzharbot">
      <rosparam command="load" file="$(find ros_myzharbot_robot)/myzharbot_robot.yaml" />      

      <node name="myzharbot" pkg="serial_bridge" type="serial_bridge_node" args="/dev/ttyUSB0" output="screen" respawn="true" respawn_delay="20" >
          <remap from = "/myzharbot/joint_states" to = "/joint_states" />
      </node>

      <!-- <node name="inemo_m1_node" pkg="st_inemo_m1_imu" type="inemo_m1_node" output="screen" respawn="true" respawn_delay="20" /> -->

      <!-- <node name="myzharbot_tf" pkg="ros_myzharbot_robot" type="myzharbot_tf_node.cpp" /> -->
  </group>
 
</launch>
